/* src/styles/global-pages.css */

/* Variables de couleurs et de typographie pour la cohérence */
:root {
  --primary-color: #9d70e1; /* Couleur principale KM Shop */
  --secondary-color: #a2fac2; /* Vert WhatsApp */
  --text-color: #333;
  --light-text-color: #666;
  --background-color: #000000; /* Arrière-plan clair général */
  --white-color: #fff;

  --heading-font-size-large: 2.5em;
  --heading-font-size-medium: 1.8em;
  --body-font-size: 1.1em;
  --small-font-size: 0.9em;

  --padding-section: 60px 40px; /* Padding standard pour les sections */
  --max-width-content: 1000px; /* Largeur maximale pour le contenu */
}

/* Styles de base du corps de la page (si pas déjà dans globals.css) */
body {
  font-family: Arial, sans-serif; /* Ou la police de votre choix */
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Styles des liens par défaut (si pas déjà dans globals.css) */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}
a:hover {
  text-decoration: underline;
}